body {
  background-image: url(https://images.unsplash.com/photo-1467579424161-6bbc141569d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4b917ea86ffd43b705cc36e2205594d6&auto=format&fit=crop&w=3150&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: monospace;
}

#emptyDiv {
  margin: 100px;
}

.inputForm, .coffeeForm, .takeoutForm, .suggestList, .reduceEmissionsList, .differentCommuteList, .total, .mondayClickable {
  display: none;
}
.container {
  width: 65%;
  overflow: hidden;
}
.summaryTracker {
  text-align: center;
}

h1 {
  font-size: 75px;
  font-family: monospace;
  text-align: center;
}

h2 {
  text-align: center;
  border-bottom: 1px solid;
  color: #31708f;
  font-family: 'Monoton', cursive;
}

.btn {
  margin-bottom: 10px;
  color: black;
}

.buttonsDiv {
  text-align: center;
}

.modal-title {
  font-size: 35px;
  font-family: monospace;
  text-align: center;
  font-weight: bold;
}

#cupsofcoffee, #mileage, select {
  width: 245px;
  border: 1px solid;
  border-radius: 4px;
}

select, input {
  margin-bottom: 10px;
}

.dayColumns {
  border: 1px solid;
  border-radius: 4px;
  height: 250px;
  background-color: white;
  opacity: .9;
}

#graphId {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
}
.mainDisplayDiv {
  text-align: center;
}
.displayText {
  font-size: 50px;
  font-family: monospace;
}
a {
  font-family: monospace;
}

.sideBaring {
  float: left;
  width: 350px;
  height: 400px;
  padding: 10px;
  background: none;
  text-align: center;
  margin-left: 150px;
  margin-right: -100px;
}

.suggestions{
  border: none;
  margin-top: 20px;
  background-color: none;
  color: black;
}

h4 {
  color: #2F4858;
}

.suggestions h4:hover {
  /* font-weight: bold; */
  color: #86BBD8;
  text-decoration: underline;
  cursor: pointer;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  opacity: .7;
  color: black;
}

.factsAddClass {
  border: none;
  margin-top: 20px;
  background-color: white;
  opacity: .9;
  border-radius: 4px;
  border: 1px solid;
  min-height: 100px;
}

.totalSubmitForm {
  background: none;
  border: 1px solid;
  border-radius: 4px;
}

.totalSubmitForm:hover {
  background-color: #5bc0de;
  color: white;
}

#weekSummary {
  text-align: center;
}
